body {
  position: relative;
  margin: 0px;
  min-height: 100vh;
}
.row, .page-body {
  width: 1140px;
  max-width: 100%;
  min-width: 768px;
  margin: 0 auto;
}
.row {
  display: flex;
}
.page-body {
  padding-top: 55px;
  padding-bottom: 55px;
}