.newHeader {
  height: calc(80vh - 160px);
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: opacity 2.4s ease-in;
  box-sizing: inherit;
  position: absolute;
  left: 0;
  top: 70px;
}

.aws-sld__content div {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 10;
  color: #FFFFFF;
  text-shadow: 
    /* first layer at 1px */
    -1px -1px 0px #EC6933,
     0px -1px 0px #EC6933,
     1px -1px 0px #EC6933,
    -1px  0px 0px #EC6933,
     1px  0px 0px #EC6933,
    -1px  1px 0px #EC6933,
     0px  1px 0px #EC6933,
     1px  1px 0px #EC6933,
    /* second layer at 2px */
    -2px -2px 0px #EC6933,
    -1px -2px 0px #EC6933,
     0px -2px 0px #EC6933,
     1px -2px 0px #EC6933,
     2px -2px 0px #EC6933,
     2px -1px 0px #EC6933,
     2px  0px 0px #EC6933,
     2px  1px 0px #EC6933,
     2px  2px 0px #EC6933,
     1px  2px 0px #EC6933,
     0px  2px 0px #EC6933,
    -1px  2px 0px #EC6933,
    -2px  2px 0px #EC6933,
    -2px  1px 0px #EC6933,
    -2px  0px 0px #EC6933,
    -2px -1px 0px #EC6933;
}

@media (max-width: 1170px) {

}

@media (max-width: 768px) {
  .newHeader {
    max-height: 230px;
  }
}