.newContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  padding: 0px 20px;
}

.newContent {
  margin-right: 30px;
} 

.newContent h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
}

.imageContainer {
  height: 200px;
  width: 250px;
}
.mediaContent img {
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: auto;
  transition: opacity 2.4s ease-in;
  box-sizing: inherit;
}


@media (max-width: 1170px) {
  .newContainer {
    padding: 0px 50px;
  }
  .imageContainer {
    height: 150px;
    width: 200px;
  }
}

@media (max-width: 768px) {
  .newContainer {
    padding: 0px;
  }
  .imageContainer {
    height: 100px;
    width: 150px;
  }
}